{"filter":false,"title":".env.example","tooltip":"/work_command/blog/.env.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1714503285327,"hash":"3b5c46915686b4b3ea47455069a35ea561db4f3d"}